

<ion-content [fullscreen]="true">


    <ion-slides pager="true" [options]="slideOpts" >
      <ion-slide *ngFor="let slid of sliderPosterContent">
        
          <ion-item *ngIf="slid.background" [style.--background]="slid.background">
        
            <ion-img class="imageSizPoster" slot="start" [src]="slid.src"> </ion-img>
            <div  class="headerTxtPoster" *ngIf="slid.txtContent">{{slid.txtContent}}</div>
  
          </ion-item>

         
          <img *ngIf="!slid.background" class="imageSizPoster2" slot="start" [src]="slid.src"> 
         
        
      </ion-slide>
     
    </ion-slides>

  <!-- <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->

  <!-- <ion-avatar>
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  </ion-avatar>
  
  <ion-chip>
    <ion-avatar>
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar>
    <ion-label>Chip Avatar</ion-label>
  </ion-chip> -->

  <div>

    <ion-chip  [outline]="prefersDark" [color]="prefersDark ? 'secondary':''">
      <ion-label>Default</ion-label>
    </ion-chip>

    <ion-chip  [outline]="prefersDark" [color]="prefersDark ? 'secondary':''">
      <ion-avatar >
        <img src="3/01_Justice_Enforced.webp">
      </ion-avatar>
      <ion-label>Anime</ion-label>  
    </ion-chip>
    
    <ion-chip  [outline]="prefersDark" [color]="prefersDark ? 'secondary':''">
      <ion-icon name="pin" color="primary"></ion-icon>
      <ion-label>Cartoon</ion-label>
    </ion-chip>
    
    <ion-chip    [outline]="prefersDark" [color]="prefersDark ? 'secondary':''">
      <ion-avatar>
        <img src="1/tray_Cuppy.png">
      </ion-avatar>
      <ion-label>Love</ion-label>
    </ion-chip>
  
    <ion-chip   [outline]="prefersDark" [color]="prefersDark ? 'secondary':''">
      <ion-avatar>
        <img src="1/21_Cuppy_hi.webp">
      </ion-avatar>
      <ion-label>Avatar Chip</ion-label>
    </ion-chip>
  <ion-label>&nbsp;<a>.... see more</a></ion-label>
  </div>

  <ion-card class="cardShape" *ngFor="let sticker of contentData">
    <ion-item class="cardItemUpper">
      
      <ion-img class="imageSiz" slot="start" [src]="sticker.identifier+'/'+sticker.tray_image_file"> </ion-img>
      <div  class="headerTxt" >{{sticker.name}}</div>
      <ion-tab-button class="butnShape" (click)="addStickerToWhatsApp(sticker.identifier,sticker.name)" >
        
        <ion-label  style="font-size: 4.5vw;">Add to</ion-label>
        <ion-icon name="logo-whatsapp"  style="font-size: 14vw;"></ion-icon>
      </ion-tab-button>
      <!-- <ion-icon name="logo-whatsapp" slot="end"></ion-icon> -->
    </ion-item>

    <ion-item class="cardItemBelow">
      <ion-avatar slot="start"  *ngFor="let pic of sticker.stickers | slice:0:4">
        <img [src]="sticker.identifier+'/'+pic.image_file">
      </ion-avatar>
      <!-- <ion-avatar slot="start">
        <img src="1/23_Cuppy_greentea.webp">
      </ion-avatar>
      <ion-avatar slot="start">
        <img src="2/04_AirHighFive.webp">
      </ion-avatar>
      <ion-avatar slot="start">
        <img src="3/01_Justice_Enforced.webp">
      </ion-avatar> -->
      <ion-button class="butnSiz" fill="outline" slot="end">View all</ion-button>
    </ion-item>
  </ion-card>

 
  

  <div class="app">
    <h1>Apache Cordova</h1>
    <div id="deviceready" class="blink">
        <p class="event listening">Connecting to Device</p>
        <p class="event received">Device is Ready</p>
        <img src="assets/shapes.svg">
        <img src="1/tray_Cuppy.png">
     
    </div>
    <button (click)="addStickerToWhatsApp('1', 'Cuppy')">Add Cuppy Pack</button>
    <div></div>
    <button (click)="addStickerToWhatsApp('2', 'Together While Apart')">Add Together While Apart Pack</button>
  </div>

</ion-content>
